body {
    font-family: 'Poppins', sans-serif;
  }
  html {
    scroll-behavior: smooth;
}

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:rgb(4, 16, 27);
}

nav{
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(20, 30, 40); /* Slightly lighter dark blue */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* optional */
    transition: transform 0.3s ease; /* smooth transition for hiding/showing */
    z-index: 5;
}

nav h1{
    position: absolute;
    left: 0;
    font-size: 50px;
    padding: 20px;
    z-index: 0;
}

a{
    text-decoration: none;
    color: white;
}

@media (min-width: 980px){
    .desktop-menu{
        display: flex;
        list-style: none;
        color: white;
    }
    
    .desktop-menu li{
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .hamburger-menu{
        display: none;
    }
    .menu{
        display: none;
    }
}

@media (max-width: 980px){

    .hamburger-menu{
        padding: 1rem;
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
        
    }
    .ham-bar{
        position: absolute;
        height: 4px;
        border-radius: 2px;
        transform: translate(-50%,-50%);
        background-color: white;
        transition: transform .6s, opacity .8s, top .6s;
    }
    .bar-top{
        width: 70%;
        top: 25%;
        left: 50%;
    }
    .bar-mid{
        width: 45%;
        top: 50%;
        left: 60%;
    }
    .bar-bottom{
        width: 20%;
        top: 75%;
        left: 70%;
    }
    
    .hamburger-menu.active .bar-top{
        transform: translate(-50%,-50%) rotate(-315deg);
        top: 50%;
    }
    
    .hamburger-menu.active .bar-mid{
        display: none;
    }
    
    .hamburger-menu.active .bar-bottom{
        width: 70%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-225deg);
        top: 50%;
    }
    
    
    .menu{
        position: fixed;
        top: 0;
        background-color:rgb(4, 24, 43);
        right: -75%;
        height: 110vh;
        width: 75%;
        transition: right .5s;
    }
    
    .menu.active{
        right: 0;
    }
    
    
    .desktop-menu{
        display: none;
    }


    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul{
        display: flex;
        flex-direction: column;

    }
    .menu li{
        z-index: 2;
        list-style: none;
        font-size: 40px;
        padding: 10px;
        font-weight: 550;
        color: white;
    }
}




h1{
    color: white;
}


section{
    height: 100vh;
    transform: translateY(80px);
}