/* Basic styling for the SVG */
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(4, 16, 27);
}
svg {
    stroke: white;
    fill: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg1 {
    position: absolute;
    top: 50%;
    left: -100vw;
    transform: translateY(-50%);
}

#svg1L {
    position: absolute;
    top: 5px;
    left: -100vw; /* Initial position */
    opacity: 0;
    
}


#svg1L.moveRight{
    animation: moveRight 1s ease-in-out forwards; /* Adjust duration and timing function as needed */
    left: 40px;
}



@keyframes carAnimation1 {
    0% {
        left: -100vw;
    }
    100% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes carAnimation2 {
    0% {
        left: 50%;
    }
    100% {
        transform: translate(100vw, -50%);
    }
}

@keyframes moveRight {
    from {
        left: -100vw;
        opacity: 1;
    }
    to {
        left: 40px;
        opacity: 1;
    }
}




