@import url("style.css");


#contact{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact{
    margin-right: 15vw;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}



#contact h1{
    align-self: flex-end;
    color: var(--heading-color);
    font-size: max(7vw,5vh);
    position: relative; /* Establish a positioning context */
    display: inline-block;
}



#contact h1::before {
    content: ''; /* Required for pseudo-elements */
    display: inline-block; /* Make the line inline */
    width: 25vw; /* Set the width of the line */
    height: 1px; /* Set the thickness of the line */
    background: var(--heading-color); /* Set the color of the line */
    margin-right: 3vw; /* Space between heading and line */
    vertical-align: middle; /* Vertically center the line */
    position: relative; /* Position relative to the heading */
    top: 0; /* Adjust this value to align with the 't' */
}


#contact h2{
    margin-top: 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    transform: translateY(-40px);
    padding-inline: 20px;
}

.contactContainer {
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change 'top' to 'flex-start' for proper alignment */
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.347); /* Add border with width, style, and color */
    border-radius: 10px;
}



@media (min-width:980px){
    .socials{
        position: fixed;
        transform: translateY(30px);
        bottom: 0;
        right: 30px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease, bottom 1s ease; /* Smooth transitions */
    }
    
    .socials::after {
        content: ''; /* Required for pseudo-elements */
        display: inline-block; /* Make the line inline */
        width: 2px; /* Set the thickness of the line */
        height: 25vh; /* Set the height of the line */
        background: var(--heading-color); /* Set the color of the line */
        vertical-align: middle; /* Vertically center the line */
        position: relative; /* Position relative to the heading */
        left: 0; /* Adjust this value to align horizontally */
        margin-bottom: 55px;
        margin-top: 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    

 
    
    
    
    .socials.onScroll {
        position: fixed;
        bottom: -100px;
        transform:  scale(1.3) rotate(-90deg); /* Rotate 90 degrees */
        left: 48%;                /* Center horizontally */
        transform-origin: center; /* Ensure rotation happens around the center */
        direction: rtl;
    }
    
    
    .center{
        justify-content: center;
        justify-self: center;
    }
    
    #svg1, #svg2, #svg3, #svg4, #svg5, #svg6{
        transition: transform 0.5s ease-in-out;
    }
    
    
    #svg1.onScroll{
        transform: rotate(90deg); /* Rotate 90 degrees */
    }
    #svg2.onScroll{
        transform: rotate(90deg); /* Rotate 90 degrees */
    }
    
    #svg3.onScroll{
        transform: rotate(90deg); /* Rotate 90 degrees */
    }
    
    #svg4.onScroll{
        transform: rotate(90deg); /* Rotate 90 degrees */
    }
    
    #svg5.onScroll{
        transform: rotate(90deg); /* Rotate 90 degrees */
    }
    
    #svg6.onScroll{
        transform: rotate(90deg); /* Rotate 90 degrees */
    }

    #svg1.onScroll:hover,
    #svg2.onScroll:hover,
    #svg3.onScroll:hover,
    #svg4.onScroll:hover,
    #svg5.onScroll:hover,
    #svg6.onScroll:hover {
        /* Hover animation properties */
        transition: transform 0.3s ease; /* Example transition */;
        transform: translateX(2px) rotate(90deg);/* Example hover effect */
    }
        
    
    
    .socials.onScroll::after {
        display: none;
    }
    
    
}


@media (max-width: 980px){
    .socials{
        justify-self: center;
        position: fixed;
        transform: translateY(100px);
        bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transition: transform 0.5s ease-in;
    }
    
    .socials.onScroll{
        transform: translateY(0);
    }

    .socials::after{
        display: none;
    }
}

    
.socials svg{
    stroke: rgba(255, 255, 255, 0);
    fill: rgba(255, 255, 255, 0.315);
    transition: all 0.3s ease-in-out;
    margin: 10px;
}
   
.socials svg:hover{
    transform: translateY(-5px);
    fill: var(--text-color);
    stroke: transparent;
    cursor: pointer;
}


#contact .discord{
    stroke: rgba(255, 255, 255, 0.315);
    stroke-width: 1.5px;
}




.socials .mail{
    stroke: rgba(255, 255, 255, 0.315);
}
.socials .mail:hover{
    stroke: var(--text-color);
}


.footer{
    display: flex;
    width: 100vw;
    color: var(--text-color);
    justify-content: center;
    bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.098);
    transform: translateY(-25px);
}

form label{
    font-size: 15px;
    color: var(--text-color);
}

form input{
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    border: none;
    color: var(--text-color);
    padding: 7px;
    padding-inline: 10px;
}

.form-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.form-flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

form textarea{
    background-color: rgba(255, 255, 255, 0.134);
    border-radius: 10px;
    color: var(--text-color);
    border: none;
    margin-bottom: 20px;
    resize: none;
    padding: 10px;
    height: 140px;
    margin-top: 10px;
}

form button{
    background-color: rgba(255, 255, 255, 0.157);
    color: var(--text-color);
    align-self: center;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}

form button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.201);;
    transform: translateY(-5px);
}

@media (min-width:980px) {
    #name{
        margin-right: 20px;
        margin-left: 20px;
    }
    
    #phone{
        margin-left: 20px;
    }
}


form input{
    width: auto;
}

@media(max-width:980px){
    .form-flex{
        display: flex;
        flex: 1 1 50%;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }

    form label{
        white-space: nowrap; /* Prevent text from wrapping */
    }
    
}


@media(max-width:450px){
    #contact h1{
        font-size: 25px;
        margin-bottom: 20px;
    }

    form button{
        width: 50%;
        padding: 10px;
        font-size: 10px;
    }


    form input{
        margin-left: 10px;
    }
}

