:root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
  }

  @import url("style.css");






#home{
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    width: 70vw;
}

#hi{
    font-size: 6.2vw;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.845);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}


#hi2{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.674);
    position: relative;
    display: inline-block;
}

#hi2 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    display: inline-block;
}
  
#hi2::before,
#hi2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


#hi2::before{
    background: var(--background-color);
    animation: typeWriter 2s steps(17) forwards;
}
  

#hi2::after{
    width: 0.125em;
    background-color: var(--text-color);
    animation: typeWriter 2s steps(17) forwards, blinkCursor 1s step-end 2s infinite;

}

@keyframes typeWriter{
    to{
        left: 100%;
    }
}
@keyframes blinkCursor {
    50% {
        background-color: transparent; /* Makes the cursor disappear halfway through the blink cycle */
    }
}


#bio{
    margin-top: 30px;
    width: max(40vw,30vh);
    font-size: max(1.5vw,1.5vh);
    color: var(--text-color);

}

#welcome{
    margin-top: 60px;
    color: var(--heading-color);
    font-size: max(2vw,2.5vh);
}