body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
html {
    scroll-behavior: smooth;
    
}

:root {
    --background-color: rgb(4, 16, 27); 
    --nav-color: rgb(20, 30, 40);
    --heading-color:rgba(53, 97, 138, 0.668);
    --text-color: #ffffff;
    --accent-color: rgb(4, 24, 43);
}

.light-theme {
    --background-color: rgb(165, 195, 226); /* Light background */
    --nav-color: rgb(121, 150, 180); /* Light background */
    --heading-color: rgb(50, 50, 50); /* Darker text for headings */
    --text-color: #000000c1; /* Black text */
    --accent-color: rgb(82, 140, 199); /* A lighter blue accent */
    
}

.custom-theme {
    --background-color: var(--custom-color1, #ffffff); /* Default to white */
    --nav-color: var(--custom-color2, #c1bdbd); /* Default to light gray */
    --heading-color: var(--custom-color3, rgb(139, 133, 133)); /* Default to dark gray */
    --text-color: var(--custom-color4, #000000); /* Default to black */
    --accent-color: var(--custom-color5, rgb(188, 216, 242)); /* Default to light blue */
}



  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:var(--background-color);
}

nav{
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    background-color:var(--background-color);/* Slightly lighter dark blue */
    transform: translateY(12px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* optional */
    transition: transform 0.3s ease; /* smooth transition for hiding/showing */
    z-index: 5;
}

.nav-on-scroll{
    transform: translateY(0);
    background-color: var(--nav-color);
}

#svg1L {
    position: fixed;
    top: 0px;
    left: 25px; /* Initial position */
    transform: translateY(5px);
    stroke: var(--text-color);
    fill: var(--text-color);
}

svg text{
    fill: var(--background-color);
    font-weight: 600;
    stroke: var(--);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.theme {
    position: relative;
    width: 50px; /* Width of the icons */
    height: 50px; /* Height of the icons */
    margin-left: 20px;
    cursor: pointer;
}

.moon, .sun {
    position: absolute;
    top: 25;
    left: 0;
    width: 100%;
    height: 100%;
}

.moon {
    z-index: 2; /* Place the moon icon on top */
    opacity: 1; /* You can control visibility with opacity or display */
    transition: opacity 0.3s ease-in-out; /* Optional: for smooth transitions */
}

.sun {
    z-index: 1; /* Place the sun icon behind */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Optional: for smooth transitions */
}


/* Base styles */
.theme .sun, .theme .moon {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Hide Sun Animation */
.hide-sun {
    opacity: 0;
    transform: scale(0.8) rotate(-20deg);
    pointer-events: none; /* Prevent interaction */
}

/* Show Sun Animation */
.show-sun {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    pointer-events: auto; /* Enable interaction */
}

/* Hide Moon Animation */
.hide-moon {
    opacity: 0;
    transform: scale(0.8) rotate(20deg);
    pointer-events: none; /* Prevent interaction */
}

/* Show Moon Animation */
.show-moon {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    pointer-events: auto; /* Enable interaction */
}


@media (min-width: 980px){
    .desktop-menu{
        display: flex;
        align-items: center;
        list-style: none;
        color: var(--text-color);
    }
    
    .desktop-menu a{
        padding: 15px;
        padding-inline: 20px;
        font-size: 17px;
        font-weight: bold;
    }
    .hamburger-menu{
        display: none;
    }
    .menu{
        display: none;
    }
}

@media (max-width: 980px){

    .hamburger-menu{
        padding: 25px;
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
        
    }
    .ham-bar{
        position: absolute;
        height: 4px;
        border-radius: 2px;
        transform: translate(-50%,-50%);
        background-color: var(--text-color);
        transition: transform .6s, opacity .8s, top .6s;
    }
    .bar-top{
        width: 70%;
        top: 25%;
        left: 50%;
    }
    .bar-mid{
        width: 45%;
        top: 50%;
        left: 60%;
    }
    .bar-bottom{
        width: 20%;
        top: 75%;
        left: 70%;
    }
    
    .hamburger-menu.active .bar-top{
        transform: translate(-50%,-50%) rotate(-315deg);
        top: 50%;
    }
    
    .hamburger-menu.active .bar-mid{
        display: none;
    }
    
    .hamburger-menu.active .bar-bottom{
        width: 70%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-225deg);
        top: 50%;
    }
    
    
    .menu{
        position: fixed;
        top: 0;
        background-color: var(--accent-color);
        transform: translateY(-20px);
        right: -75%;
        height: 110vh;
        width: 75%;
        transition: right .5s, filter 0.3s ease;
    }
    
    .menu.active{
        right: 0;
    }

    .menu.active section{
        filter: blur(12px);
    }
    
    
    .desktop-menu{
        display: none;
    }


    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul{
        display: flex;
        flex-direction: column;

    }
    .menu li{
        z-index: 2;
        list-style: none;
        font-size: 40px;
        padding: 10px;
        font-weight: 550;
        color: var(--text-color);
    }
    .theme svg{
        stroke: var(--text-color);
        width: 50px;
        height: 50px;
    }
    
    button svg{
        stroke: none;
        width: 50px;
        height: 50px;
    }


}



.row{
    display: flex;
    transform: translateY(15px);
    align-content: center;
    flex-direction: row;
    padding-right: 20px;
}



.theme svg{
    stroke: var(--text-color);
}

button svg{
    stroke: none;
    fill: var(--text-color);
}

.color-pickers {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-color);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out;
    z-index: 10; /* Ensure it's on top of other elements */
}

.color-pickers button{
    stroke: var(--text-color);
}

.color-pickers.visible {
    height: 90vh; /* Adjust this value to cover the desired part of the page */
}

.toggle-color-pickers {
    font-size: 10px;
    font-weight: bold;
    z-index: 3; /* Ensure the button is on top of the color pickers */
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}


.color-pickers h2{
    font-size: 30px;
}

.container{
    display: flex;
    gap: 50px;
}


.color-picker-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:980px){
    .color-picker-container{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        padding: 2vw;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .previews{
        display: flex;
        flex-direction: row;
    }

    
}

@media(max-width:675px){
    .window-preview1{
        display: none;
    }
    .color-pickers label{
        font-size: 12px;
    }
    
}

.wrap-colorpicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.previews{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.color-pickers input{

    border: none;
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border-radius: 2px;
    height: 50px;
}

.color-pickers label{
    font-weight: 500;
    color: var(--text-color);
}

/* Container for the window preview */
.window-preview1 {
    width: 360px; /* Adjust size as needed */
    height: 230px; /* Adjust size as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    background: var(--background-color); /* Background color for the preview */
    margin: 20px auto;
}

/* Background for the preview */
.preview-background {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--background-color); /* Background color for the content */
}

/* Navbar styling */
.preview-navbar {
    height: 50px;
    background: var(--nav-color); /* Navbar background color */
    color: var(--text-color); /* Navbar text color */
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* Navigation links */
.preview-nav {
    position: absolute;
    align-self: right;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

/* Headings styling */
.preview-headings {
    position: absolute;
    font-weight: 600;
    font-size: 30px;
    transform: translateY(65px);
    color: var(--heading-color);
    left: 10px;
}

.preview-text {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 300;
}



/* Container for the window preview */
.window-preview2 {
    width: 250px; /* Typical mobile width */
    height: 450px; /* Typical mobile height */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    background: #fff; /* Background color for the preview */
    margin: 20px auto;
}

.preview-navbar-mobile{
    top: 0px;
    height: 50px;
    width: 100px;
    background-color: var(--nav-color);
    z-index: -1;
}

/* Mobile menu styling */
.preview-mobile-menu{
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    background: var(--accent-color); /* Background color of the mobile menu */
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1;
}


.navigation-elements{
    display: flex;
    transform: translateY(150px);
    color: var(--text-color);
    font-size: 13px;
}


.toggle-color-pickers{
    transform: translateY(-3px);
}



.animate-in{
    opacity: 0;
}



.slide-in {
    animation: slideIn 1s forwards;
    transform: translateY(0);
}

@keyframes slideIn {
    from {
        transform: translateY(250px); /* Start from below */
        opacity: 0; /* Initial opacity */
    }
    to {
        transform: translateY(0); /* End at original position */
        opacity: 1; /* Final opacity */
    }
}

.animate-projects{
    opacity: 0;
}

.slide-projects-in{
    animation: slideIn 1s forwards;
    transform: translateY(0);
}

.socials svg {
    transform: translateY(300px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}

.socials::after {
    transform: translateY(300px);
    opacity: 0.2;
    transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
}

.socials.loaded svg {
    transform: translateY(0);
    opacity: 1;
}

.socials.loaded::after {
    transform: translateY(0);
    opacity: 1;
}
